extends layout
 
block content
	h1= title
	p Welcome to #{title}
	form(method="POST",action="/usuario/api/modificar")
		input(type="hidden",name="id",value='#{info[0].id}')
		label(for="cedula") Cedula
		input(type="text",name="cedula",value='#{info[0].cedula}')
		br
		label(for="primer_nombre") Primer Nombre
		input(type="text",name="primer_nombre",value='#{info[0].primer_nombre}')
		br
		label(for="segundo_nombre") Segundo Nombre
		input(type="text",name="segundo_nombre",value='#{info[0].segundo_nombre}')
		br
		label(for="primer_apellido") Primer Apellido
		input(type="text",name="primer_apellido",value='#{info[0].primer_apellido}')
		br
		label(for="segundo_apellido") Segundo Apellido
		input(type="text",name="segundo_apellido",value='#{info[0].segundo_apellido}')
		br
		label(for="telefono") Telefono
		input(type="text",name="telefono",value='#{info[0].telefono}')
		br
		label(for="email") Correo
		input(type="text",name="email",value='#{info[0].email}')
		br
		label(for="login") Nick
		input(type="text",name="login",value='#{info[0].login}')
		br
		label(for="contraseña") Password
		input(type="password",name="contraseña",value='#{info[0].contraseña}')
		br
		label(for="perfil") Rol
		input(type="text",name="perfil",value='#{info[0].ROL_id}')
		br
		input(type="submit",value="Modificar usuario")