extends layout
 
block content
    h1= title
    p Welcome to #{title}
    form(method="POST",action="../../users")
        label(for="username") Nombre
        input(type="text",name="username")
        br
        label(for="email") Email
        input(type="text",name="email")
        br
        label(for="password") Password
        input(type="password",name="password")
        br
        input(type="submit",value="Crear usuario")