extends layout
 
block content
	h1= title
	p Welcome to #{title}
	form(method="POST",action="/usuario/api/create")
		label(for="cedula") Cedula
		input(type="text",name="cedula")
		br
		label(for="primer_nombre") Primer Nombre
		input(type="text",name="primer_nombre")
		br
		label(for="primer_apellido") Primer Apellido
		input(type="text",name="primer_apellido")
		br
		label(for="telefono") Telefono
		input(type="text",name="telefono")
		br
		label(for="email") Correo
		input(type="text",name="email")
		br
		label(for="login") Nick
		input(type="text",name="login")
		br
		label(for="contraseña") Password
		input(type="password",name="contraseña")
		br
		label(for="perfil") Rol
		input(type="text",name="perfil")
		br
		input(type="submit",value="Crear usuario")